body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App-header{
  position: relative;
  min-width: 320px;
  margin: 1px 5%;
  padding: 6px 10px;
  width: auto;
}

.App-header__ins{
  position: relative;
  min-width: 320px;
  width: auto;
  margin: 0px 5%;
}

.logo{
  width: 310px;
    height: 47px;
    background-image: url(./images/logo_site.svg);
    display: inline-block;
    margin-top: 2px;
    vertical-align: middle;
    background-repeat: no-repeat;
}

.header-usermenu{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  right: 10px;
  width: 100%;
  height: 61px;
  /*font-size: 0px;
  z-index: 2;*/
}

.button_fav{
  color: inherit;
  text-align: center;
  user-select: none;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  align-items: center;
  padding: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  background: 0px 0px;
  /*font: inherit inherit inherit inherit inherit inherit inherit inherit;
  text-decoration: none;*/
  outline: none;
  overflow: visible;
}

.fav_icon{
  display: block;
  width: 24px;
  height: 23px;
  background-image: url(./images/bluebell-icon.svg);
  background-repeat: no-repeat;
  margin: 1px;
  background-position: 50% center
}

.header-btn-entry{
  height: auto;
  display: flex;
  flex-direction: column;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  user-select: none;
  padding: 0px 6px;
}

.header-btn-entry__icon {
  background-image: url(./images/login-icon.svg);
  display: block;
  height: 24px;
  background-size: contain;
  margin-bottom: 2px;
  background-repeat: no-repeat;
  background-position: 50% center;
}

.header-basket{
  display: flex;
  color: rgb(179, 173, 173);
  align-items: center;
  flex-direction: column;
}

.header-basket__icon{
  display: flex;
  align-items: center;
  width: 100%;
  background-color: transparent;
  background-image:  url(./images/basket-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% center;
  margin: 1px;
}

.header__nav-item{
  display: flex;
  margin-right: 17px;
  align-items: center;
}

.header__nav-block{
  display: flex;
  margin-right: 17px;
  align-items: center;
  margin-right: 15px;
}

.header__nav-list {
  /*margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight: 400;*/
  display: flex;
}

.menu{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 320px;
  margin: 0px 5%;
  padding: 6px 10px;
  width: auto;
}

.banner{
  width:100%;
  background-image: url(./images/furniture-for-livemaster.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 250px;
  background-position: center;
  display: flex;
  margin: 0px 5%;
  padding: 6px 10px;
  width: auto;
  min-width: 320px;
  margin-bottom: 20px;
}

.all-items-block{
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.all-items-block-favorites{
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px 5%;
  padding: 6px 10px;
}

.all-items{
  flex-direction: column;
  display: flex;
  width: 100%;
}

.all-items-list{
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  width: auto;
  min-width: 320px;
  width: auto;
  padding: 6px 0px;
  margin:0px 5%;
}

#filter-panel-left{
  position: relative;
 /* z-index: 2;*/
  max-width: 337px;
  width: 100%;
  /*font-family: "Lato",sans-serif;*/
  font-weight: 400;
  flex-shrink: 0;
  width: 337px;
}

.catalog-filters-box_top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.catalog-filters-item{
  margin: 10px 0;
}

.catalog-filters-box_content{
  padding-bottom: 10px;
  margin-top: 20px;
}

.catalog-filters_check{
  display: block;
  /*overflow: hidden scroll;*/
  height: 100%;
  width: calc(100% + 17px);
}

.catalog-filters_check--left {
  /*display: flex;*/
  align-items: center;
  margin-left: 20px;
}

.catalog-filters_check--block {
  position: relative;
  height: 17px;
  width: 17px;
}

.catalog-filters_check--label {
  padding-left: 15px;
}

.catalog {
  margin: 0px 5%;
  width: auto;
  min-width: 320px;
  display: flex;
  flex-flow: row nowrap;
}

.item-container {
  padding-bottom: 20px;
  position: relative;
  margin: 0 12px;
}

.item-block {
  width: 100%;
  border-radius: 5px;
  background-color: #fff;
  transition: box-shadow .3s,-webkit-box-shadow .3s;
}

.item-block__info-container {
  width: 100%;
  height: 92px;
  position: relative;
  border-radius: 0 0 5px 5px;
  padding: 12px 14px 12px 12px;
}

.item1 {
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
  background-position: center;
  display: flex;
  width: 200px;
}

.item1-list {
  background-size: contain;
  background-repeat: no-repeat;
  height: 120px;
  background-position: center;
  display: flex;
  width: 120px;
  /*min-width: 320px;
  max-width: 1280px;*/
}

.item-block__name {
  /*display: block;*/
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    text-align: left;
    color: #333;
    margin-bottom: 6px;
}

.item-block__name--editable {
  border: 1px solid #333;
}

.info-LK-item-right--editable{
  border: 1px solid #333;
}

.item-block__master-name {
  display: block;
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  font-weight: 400;
  color: #8b8b8b;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  margin-bottom: 12px;
}

.item-block__payment-container {
  /*width: 100%;*/
  line-height: 19px;
  position: relative;
  bottom: -5px;
}

.item-block__cost {
  color: #fd7801;
  font-size: 14px;
  text-align: left;
  margin-top: 15px;
}

.item-block__to-basket {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  cursor: pointer;
  font-size: 14px;
  line-height: 16px;
  background-color: transparent;
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fd7801;
}

.item-block__favorite {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 32px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  outline: 0px;
  margin: 0px;
  padding: 0px;
}

.item-block__favorite::after {
  content: "";
  display: block;
  width: 18px;
  height: 16px;
  position: absolute;
  top: 10px;
  left: 7px;
  background-color: transparent;
  background-image:  url(./images/icon-heart-regular.svg);
  background-position: 50% center;
  background-repeat: no-repeat;
}

.item-container-list {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
}

.item-list{
  flex-basis: 20%;
}

.item-list_info-container {
  padding: 5px;
  flex-basis: 50%;
}

.item-list_name {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-align: left;
  color: #333;
  margin-bottom: 6px;
}

.item-list__master-name {
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  font-weight: 400;
  color: #8b8b8b;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  margin-bottom: 12px;
}

.item-list__payment-container {
  line-height: 19px;
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
}

.item-list__cost {
  color: #fd7801;
  font-size: 14px;
  display: flex;
  /* flex-direction: column; */
  /* align-items: flex-start; */
  /* justify-content: flex-start; */
  position: relative;
}

.item-list__cost2{
  color: #fd7801;
  width: 100px;
  /* flex-basis: 20%; */
  font-size: 12px;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  font-weight: 600;
}

.item-list__to-basket {
  border-width: 1px;
  margin: 0;
  padding: 5px;
  outline: 0;
  cursor: pointer;
  font-size: 14px;
  line-height: 16px;
  background-color: transparent;
  transform: translateY(-50%);
  color: #fd7801;
  border-color: #fd7801;
  border-radius: 5px;
  text-align: center;
}

.item-list__favorite {
  position: relative;
  top: -5px;
  width: 13px;
  height: 13px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  margin-right: 10px;
  padding: 0px;
}

.item-list__favorite::after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: transparent;
  background-image:  url(./images/icon-heart-regular.svg);
  background-position: 50% center;
  background-repeat: no-repeat;
}

.item-list__basketblock {
  display: flex;
  margin-top: 20px;
  justify-content: flex-end;
}

.show-on-mobile {
  display: none;
}

.filter-table {
  background-image: url(./images/view-as-list.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  margin-left: 17px;
  margin-right: 16px;
  width: 22px;
  height: 14px;
  text-align: center;
  line-height: 32px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.filter-list {
  background-image: url(./images/view-as-tiles.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  margin-left: 17px;
  margin-right: 16px;
  width: 22px;
  height: 14px;
  text-align: center;
  line-height: 32px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.filter-type {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 10px;
}

.info-LK{
  display: flex;
  flex-direction: column;
  min-width: 320px;
  padding: 6px 0px;
  flex-wrap: wrap;
  margin: 0px 5%;
}

.info-LK-item{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 21px;
}

.info-LK-item-left{
  flex-basis: 40%;
}

.info-LK-item-right{
  flex-basis: 50%;
  flex-wrap: wrap;
}

.item-lk__favorite {
  right: 12px;
  width: 22px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  background-image: url(./images/icon-heart-regular.svg);
  background-repeat: no-repeat;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  outline: 0px;
  margin: 0px;
  padding: 0px;
  filter: grayscale(100%);
  display: block;
}

.Authorization{
  min-width: 320px;
  margin: 0px 5%;
  width: auto;
  display: flex;
  flex-direction: column;
}

.messages-list{
  display: flex;
  flex-direction: column;
  margin: 0px 5%;
}

.messages-item{
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}

.dialog-block-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-indent: -9999px;
}

.dialog-avatar-wrap {
  flex-basis: 10%;
}

.dialog-avatar{
  right: 12px;
  width: 22px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  background-image: url(./images/item1.jpg);
  background-repeat: no-repeat;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  outline: 0px;
  margin: 0px;
  padding: 0px;
}

.dialog-info {
  flex-basis: 70%;
}

.dialog-date{
  flex-basis: 20%;
}

.dialog-info-author{
  font-weight: 600;
}

.dialog__avatar {
  width: 56px;
  height: 56px;
  border: 1px solid #e5e7e8;
  border-radius: 50%;
  background-color: #e5e7e8;
  font-family: "object-fit: cover";
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.master-cart-items__item-quantity {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  padding-left: 50px;
}

.master-cart-items__item-btn--minus {
  text-align: left;
  width: 28px;
  height: 28px;
}
.master-cart-items__item-btn {
  display: inline-block;
  vertical-align: middle;
  border: 0;
  outline: 0;
  background-color: transparent;
  background-position: 50%;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.master-cart-items__item-icon-minus {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-position: 50%;
  background-repeat: no-repeat;
  background-image:  url(./images/minus.svg);
}

.master-cart-items__item-quantity-counter {
  display: inline-block;
  vertical-align: middle;
  border: none;
  line-height: 28px;
  height: 28px;
  font-size: 14px;
  color: #333;
  text-align: center;
  padding: 0 12px;
  width: 7px;
}

.master-cart-items__item-btn--plus {
  text-align: right;
  width: 28px;
  height: 28px;
}

.master-cart-items__item-btn {
  display: inline-block;
  vertical-align: middle;
  border: 0;
  outline: 0;
  background-color: transparent;
  background-position: 50%;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.master-cart-items__item-icon-plus {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-position: 50%;
  background-repeat: no-repeat;
  background-image: url(./images/plus.svg);
}

.item-list__cost_basket{
  width: 100px;
  display: flex;
  justify-content: center;
}

/*@media only screen and (max-width: 1279px){*/
.header-btn-entry__icon {
    width: 24px;
    margin-bottom: 0px;
}
.header-basket__icon {
  width: 24px;
  height: 21px;
}
.auth-row{
  margin: 20px 0px;
  position: relative;
  width: 100%;  
}

.auth-input{
  width: 300px;
  height: 40px;
  line-height: 24px;
  padding: 4px;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  border: 2px solid #b4b4b4;
  -webkit-appearance: none;
}

.auth-input-label{
  position: absolute;
  top: 0;
  height: 56px;
  left: 16px;
  background: transparent;
  text-align: left;
  color: #8b8b8b;
  font-size: 16px;
  line-height: 56px;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cmaster-cart-items__item-quantity{
  flex-basis:25%
}
/*}*/

.btn-rubrics-mobile-view {
  width: 160px;
  height: 30px;
  text-align: center;
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  color: #666;
  background: white;
  padding: 0;
  margin: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 5px;
}

.item-block__edit{
  position: absolute;
  top: 12px;
  right: 12px;
  width: 32px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  outline: 0px;
  margin: 0px;
  padding: 0px;
}

.item-block__edit::after {
  content: "";
  display: block;
  width: 18px;
  height: 16px;
  position: absolute;
  top: 10px;
  left: 7px;
  background-color: transparent;
  background-image: url(./images/edit.png);
  background-position: 50% center;
  background-repeat: no-repeat;
  background-size: contain;
}

.item-block__edit_lk{
  width: 25px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  background-image: url(./images/edit.png);
  background-repeat: no-repeat;
  background-size: contain;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  outline: 0px;
  margin: auto;
  padding: 0px;
  margin: 0px 10px;
}

.item-block__save_lk{
  width: 25px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  background-image: url(./images/save.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  outline: 0px;
  margin: auto;
  padding: 0px;
  margin: 0px 10px;
}

.LK {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  padding: 6px 10px;
  width: auto;
}

.MyShop{
  position: relative;
  min-width: 320px;
  margin: 0px 5%;
  padding: 6px 10px;
  width: auto;
}

.Basket {
  position: relative;
  min-width: 320px;
  width: auto;
}

.line{
  size: a3;
  width: 100%;
}

.btn-rubrics-mobile-view_seller {
  width: 160px;
  height: 30px;
  text-align: center;
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  color: #666;
  background: white;
  padding: 0;
  margin: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 5px;
  top: 10px;
  position: relative;
  margin-bottom: 17px;
}

.Seller{
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 320px;
  padding: 6px 10px;
  width: auto;  
}

.ItemDetails{
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 320px;
  padding: 6px 10px;
  width: auto;  
}

.menu-item--active{
  color:#d37b3d;
  border-bottom:1px solid #d37b3d
}

.mobile-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  /* margin-bottom: 6px; */
  border-radius: 5px;
  margin: 0px 5%;
  padding: 6px 0px;
  width: auto;
  position: relative;
  min-width: 320px;
  /* max-width: 1280px; */
  /* padding-left: 20px; */
  align-self: flex-end;
}

.show-on-mobile{
  display: none;
}

.wrapper{
  margin:32px;
  text-align:center;
}

input:read-only{
  border:none
}

.flex-column{
  display: flex; 
  flex-direction: column;
}

.flex-row{
  display: flex; 
  flex-direction: row;
  margin: 5px 0px;
}

@media only screen and (max-width: 767px){
.logo {
    width: 90px;
    height: 36px;
    margin-top: 2px;
    background-image: url(./images/logo_site.svg);
}

.App-header {
  position: relative;
  min-width: 320px;
  margin: 1px 5%;
  padding: 6px 10px;
  width: auto;
}

.banner {
  width: auto;
}

.hide-on-mobile {
  display:none;
}

.show-on-mobile{
  display: flex;
}

.cmaster-cart-items__item-quantity {
  flex-basis:50%
}

.mobile-buttons {
  /*margin:0px;*/
}

.wrapper{
  margin:10px;
  text-align:center;
}


.item1-list {
  height: 60px;
  width: 60px;
}

}

@media only screen and (max-width: 991px){
.logo {
    width: 203px;
    height: 33px;
}
.header-usermenu {
  height: 47px;
}
}